<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Imports -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">  

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block nav %}
    <nav>
        <h1>Website</h1>
        <ul>
          {% if g.user %}
            <p>{{ g.user['username'] }}</p>
            <a href="{{ url_for('auth.logout') }}">Log Out</a>
          {% else %}
            <a href="{{ url_for('auth.register') }}">Register</a>
            <a href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
        </ul>
      </nav>
      {% endblock %}

      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% block content %}
      {% endblock %}

      <footer>
        <p>Footer</p>
      </footer>
</body>